NODE_ENV=development
MODEL_ID=meta-llama/Llama-3.3-70B-Instruct-fast
NEBIUS_API_KEY=api_key_nebius

# MODE: personal_only, group_only, all
MODE=personal_only

# Group Whitelist is now managed in groups.txt
